.container_wrapper {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.gap {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

/* tab-Screen */
@media (min-width: 641px) and (max-width: 1023px) {
  .container_wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }
  .gap {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .flex {
    display: flex;
    flex-direction: column;
    column-gap: 40px;
  }
}
/* mobile-screen */
@media (max-width: 640px) {
  .container_wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
  }
  .gap {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .flex {
    display: flex;
    flex-direction: column;
    column-gap: 40px;
  }
}
